@{
    ViewData["Title"] = "Спасибо!";
}

@model string

<h3>Благодарим Вас за покупку</h3>
<p>Номер заказа № @Model</p>
<br />
<a class="btn btn-primary" asp-action="Index" asp-controller="Home">Главное меню</a>
